# Python
__pycache__/
*.py[cod]
*.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Environment
.env
.env.*
env/
venv/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore migrations (optional)
*/migrations/
